.body-wrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1100px;
    height: auto;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    margin: 0 auto;
    padding-top: 5px;
    height: 45px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 1;
}

header .logo {
    width: auto;
    height: 40px;
    object-fit: contain;
}

header .menu {
    width: auto;
    height: 100%;

}

header .menu ul {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    display: flex;
}
.menu-mobile{
    display: none;
}

header .menu ul li {
    display: flex;
    align-items: center;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    color: #2d2d2d;
}

header .menu ul li a {
    text-decoration: none;
    color: #2d2d2d;
    transition: color 0.5s ease-in-out;
}

header .menu ul li a:hover {
    color: #1097cc;
}

header .menu ul .dropdown {
    visibility: hidden;
    opacity: 0;
    display: flex;
    position: absolute;
    top: 40px;
    flex-direction: column;
    width: 120px;
    height: auto;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.15);
    border-radius: 1px;
    border: 1px solid #eaeef1;
    transition: all 0.6s ease-in-out, visibility 0s linear 0.3s;
}

header .menu ul .dropdown li {
    width: 100%;
    padding: 0;
}

header .menu ul .dropdown li:first-of-type {
    padding: 0;
}

header .menu ul .dropdown li:last-of-type {
    padding: 0;
}

header .menu .has-dropdown:hover .dropdown {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0.2s;
}


header .menu ul li.active a {
    color: #1097cc;
}

.menu-img {
    max-height: 25px;
    margin-left: 10px;
    transform: rotateY(-180deg);
}

.search-hover:hover .search-wrap {
    display: block;
}

.slider {
    margin: 20px 0 20px;
}

.slider a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
}

.slider-text {
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
    text-align: center;
    float: left;
    font-size: 26px;
    color: #fff;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}

.widget {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.widget .part {
    width: calc(100%/2 - 10px);
    overflow: hidden;
    position: relative;
}

.part img.w-img-2 {
    transform: rotateX(180deg) rotateY(180deg);
}

.widget .part a {
    text-decoration: none;
}

.part img {
    height: 240px;
}

.part img.w-img-1 {
    transform: rotateY(180deg);
}

.content-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 20px 0 140px;
}   

.logo-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 1px;
    left: 20px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.15);
    border-radius: 1px;
    border: 1px solid #eaeef1;
}

.logo-wrap img {
    width: 90%;
    height: auto;
}

.text {
    width: calc(100% - 170px);
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    color: #2d2d2d;
}

.widget-text {
    padding: 20px;
    color: #2d2d2d;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    line-height: 17px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.15);
    border-radius: 1px;
    border: 1px solid #eaeef1;
}

.widget-text h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 26px;
    line-height: 26px;
}

.widget-text ul { 
    margin-bottom: 0;
}

.widget-logos {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
}

ul.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.list li {
    display: flex;
    width: calc(25% - 10px);
    min-height: 82px;
    max-height: 82px;
    margin-bottom: 10px;
    border: 1px solid #e8e9e9;
    border-radius: 2px;
}

ul.list li a {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 3px;
    text-decoration: none;
    color: #4b4b4b;
    cursor: pointer;
}

ul.list li a .list-item-logo {
    min-width: 100px;
    width: 100px;
    border-right: 1px solid #e8e9e9;
}

ul.list li a img {
    width: 100%;
    height: 50px;
    object-fit: contain;
}

ul.list li a .list-item-content {
    padding: 0 10px;
}

ul.list li a .list-item-name {
    color: #1097cc;
    font-weight: bold;
}

.menu-wrap {
    display: flex;
    align-items: center;
    transition: all 2s ease-in-out;
}

.search-wrap {
    display: none;
    position: absolute;
    top: 20px;
    right: 30px;
}

.search {
    width: 200px;
}
@media screen and (max-width:1100px) {
    .body-wrap{
        width: 95%;
    }
    img.w-img-1{
        height: 220px;
    }
    ul.list li a .list-item-logo{
        width: 30%;
    }
    header {
       width: 100%;
       position: relative;
    }
}
@media screen and (max-width:950px) {
    div.body-wrap{
        font-size: 14px;
    }
    div.list-item-tags:nth-child(2){
        display: none;

    }
}
@media screen and (max-width:650px) {
    li.list-item    {
        width: calc(50% - 10px);
    }
    .widget-text h1{
        font-size: 24px;
        line-height: 26px; 
        margin-bottom: 10px;
    }
    .widget-text{
        font-size: 14px;
        line-height: 16px;
    }
    .slider img{
        height: 250px;
    }
  .menu-mobile{
      display: flex;
      height: 30px;
      float: right;
      position: relative;

   
  }

.search-hover{
    display: none;
}
nav.menu:hover ul.ul-ul {
    visibility: visible;
    opacity: 1;
   
}
header .menu ul {
 opacity: 1;
 visibility: hidden;
 
    
}
div.menu-wrap{
    display: flex;
    width: 50%;
}
nav.menu{
    width:100%;
}
ul.ul-ul{
    display: flex;
    top: 50px;
    flex-direction: column;
    width: 100%;
    height: 250px;
    right: -1px;
    background-color: #fff;
    align-items: flex-end;
    position: absolute;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.15);
    border-radius: 1px;
    border: 1px solid #eaeef1;
}
ul.ul-ul li{
    margin-right: 10px;
  
}
}
@media screen and (max-width:360px) {
    .slider img{
        height:  200px;
    }
img.w-img-1{
    height: 120px;
}
img.w-img-2{
    height: 120px;
}
span.text{
    visibility: hidden;
}
.logo-wrap img{
    height: 80px;
    width: 80px;
}
.logo-wrap{
    height: 88px;
}
ul.list li{
    width: 100%;
}
ul.list li a{
    width: 100%;
}
ul.list{
    flex-direction: column;
overflow-x: visible;
max-height: 755px;
}
ul.list li:nth-child(-n+8){
    width: 90%;
   
}
ul.list li:nth-child(n+9) {
    width: 100%;
    margin-left: 10px;  
    
   
}
div.widget-logos:hover{
    transform: translateX(-200px);
    transition: all 0.3s ease-in-out;
}
header {
    width: 90%;
    position: fixed;
 }

}