body {
    font-family: 'Dancing Script', cursive;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

ul, ol {
    list-style: none;
    padding: 0;
}

li {
    text-align: center;
    line-height: 2;
    background: #093f75;
    color: #fff;
}

div {
    flex: 1;
    max-width: 32%;
}
.one li:nth-child(odd){
background-color: #b0c4de;
color: #093f75;
}
.one li:nth-child(even){
color:#39deea;
}
.two ol:nth-of-type(1) :nth-child(n + 2):nth-child(-n + 3) {
    background-color: #b0c4de;
    color: #093f75;
}

.three ul li:nth-child(3n + 2){
    background-color: #b0c4de;
    color: #093f75;
}
div{
   align-self: 
    
}